<div class= 'team_main'>
    <h1 class= 'main_header'>Team List</h1>
    <table class= "team_table">
      <thead class= "team_thead">
        <tr>
          <th class= "team_th">team_name</th>
        </tr>
      </thead>
   
      <tbody class= "team_tbody">
        <% if @company.teams.present?%>
          <% @company.teams.each do |team|%>
          <tr >
            <td class= "team_td"><%= link_to team.team_name, company_team_path(@company,team.id)%> <%= link_to '削除', company_team_path(@company,team.id), method: :delete %></td>
          </tr>
          <% end %>
        <% else %>
          <td class= "team_td">登録なし</td>
        <% end %>
      </tbody>
    </table>
    <%= link_to '+Team', new_company_team_path(@company), class: 'btn'%>
  </div>