<%= render "shared/header1" %>

<div class= 'main'>
  
  <div class= 'plan_main'>
    <h1 class= 'main_header'>Plan List</h1>
    <table >
      <thead>
        <tr>
          <th >plan_name</th>
          <th >start_date</th>
          <th >last_date</th>
          <th >limit_date</th>
          <th >status</th>
        </tr>
      </thead>
   
      <tbody>
        <tr>
          <td>埼玉</td>
          <td>埼玉</td>
          <td>埼玉</td>
          <td>埼玉</td>
          <td>埼玉</td>
        </tr>
        <tr>
          <td>東京</td>
        </tr>
        <tr>
          <td>神奈川</td>
        </tr>
        <tr>
          <td>千葉</td>
        </tr>
        <tr>
          <td>群馬</td>
        </tr>
        <tr>
          <td>栃木</td>
        </tr>
        <tr>
          <td>沖縄</td>
        </tr>
        <tr>
          <td>大阪</td>
        </tr>
        <tr>
          <td>埼玉</td>
        </tr>
        <tr>
          <td>東京</td>
        </tr>
        <tr>
          <td>神奈川</td>
        </tr>
        <tr>
          <td>千葉</td>
        </tr>
        <tr>
          <td>群馬</td>
        </tr>
        <tr>
          <td>栃木</td>
        </tr>
        <tr>
          <td>沖縄</td>
        </tr>
        <tr>
          <td>大阪</td>
        </tr>
        <tr>
          <td>埼玉</td>
        </tr>
        <tr>
          <td>東京</td>
        </tr>
        <tr>
          <td>神奈川</td>
        </tr>
        <tr>
          <td>千葉</td>
        </tr>
        <tr>
          <td>群馬</td>
        </tr>
        <tr>
          <td>栃木</td>
        </tr>
        <tr>
          <td>沖縄</td>
        </tr>
        <tr>
          <td>大阪</td>
        </tr>
      </tbody>
    </table>
    <%= link_to '+Plan', '/', class: 'btn'%>
  </div>
</div>