* {
  box-sizing: border-box;
  background-color:honeydew;
}

.company_main {
  width: 100vw;
  height: 90vh;
  padding: 2vh 2vw;
}

.main_header {
  font-size: 25px;
  color:darkolivegreen;
}

.companies_list {
  width: 94vw;
  height: 65vh;
  background-color: white;
  border: 2px solid darkolivegreen;
  overflow: scroll;
}

.list {
  font-size: 25px;
  color:darkolivegreen;
  background-color: white;
  margin-left: 10px;
  text-decoration: none;
}

.btn {
  font-size: 25px;
  color:darkolivegreen;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}