.top-page-header {
  width: 100vw;
  height: 10vh;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
}

.header_area {
  width: 98vw;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 3px solid darkolivegreen;
}

.icon {
  width: 170px;
  height: 7vh;
  padding: 0.5vh 0.5vw;
}

.user_name {
  width: 200px;
  font-size: 30px;
  color:darkolivegreen;
}